<div class="row">
  <div class="col col-sm-4">
    <h2 class="box">Housing</h2>
    <h4 class="normal">{{#link-to 'room-rent'}}Rooms for Rent{{/link-to}}</h4>
    <hr>
    <h4 class="normal">{{#link-to 'room-wanted'}}Roommates Wanted{{/link-to}}</h4>
    <hr>
  </div>
  <div class="col col-sm-4">
    <h2 class="box">Personals</h2>
    <h4 class="normal">{{#link-to 'missed-connection'}}Missed Connections{{/link-to}}</h4>
    <hr>
    <h4 class="normal">{{#link-to 'single-profile'}}Singles Profiles{{/link-to}}</h4>
    <hr>
  </div>
</div>
